nav{
  height: 10vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link{
  color: white;
  margin: 1rem;
  text-decoration: none;
}
.nav-link:hover{
  color: orange;
}